/* Larger screens (tablet and desktop) */
@media screen and (min-width: 780px) {
    /* Header */
    header {
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 1px;
    }

    /* Navigation */
    #menu-button {
        display: none; /* Hide hamburger menu on larger screens */
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex; /* Show navigation links in a row */
        flex-direction: row;
        position: static;
        background: none;
        width: 590px;
    }

    nav ul li {
        padding: 10px 20px;
    }

    nav ul li:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    /* Gallery */
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* Display images in 3 columns */
        gap: 20px;
        padding: 30px;
        margin-top: 1px;
    }

    figure {
        padding: 15px;
    }

    img {
        transition: transform 0.3s ease-in-out;
    }

    img:hover {
        transform: scale(1.05); /* Slight zoom effect on hover */
    }
}
