body, nav ul {
    padding: 0;
    margin: 0;
}

body, h1, nav ul {
    margin: 0;
}

header, nav.active ul {
    display: flex;
}

.gallery, figure, nav ul li {
    padding: 10px;
}

footer, header {
    background-color: #333;
    color: #fff;
}

figure, footer, h2, nav ul li {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 15px #303030;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 0;
}

#menu-button {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

figure, img {
    border-radius: 5px;
}

nav ul {
    list-style: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    left: 0;
}

nav ul li {
    flex: 1 1;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: large;
}

nav ul li:hover {
    background: #211f1f;
    text-decoration: underline;
    transform: scale(1.15);
}

nav ul li a:active {
    color: #ff0;
}

@media screen and (max-width: 780px) {
    nav, nav ul {
        width: 100%;
    }

    nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px;
    }

    nav.open {
        display: flex;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: center;
        font-size: large;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 1px;
}

figure {
    background: #fff;
}

img {
    width: 100%;
    height: auto;
}

footer {
    padding: 10px 0;
    min-height: 80px;
}

footer p:last-of-type {
    color: #dce1a4;
    font-weight: 700;
}
