@media screen and (min-width: 780px) {
    header {
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 1px;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: 590px;
    }

    nav ul li {
        padding: 10px 20px;
    }

    nav ul li:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 30px;
        margin-top: 1px;
    }

    figure {
        padding: 15px;
    }

    img {
        transition: transform 0.3s ease-in-out;
    }

    img:hover {
        transform: scale(1.05);
    }
}
